<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
    The form contains <%= @users.errors.count %> errors.
    </div>
    <ul>
      <%= @users.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
